@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


    <div class="d-flex justify-content-center ">
        <div class="card">
            <div class="card-header">
                <h3>Zaloguj się</h3>
                @*<div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>*@
            </div>
            <div class="card-body">
                @*<div class="col-md-10 offset-md-1">
        <section>*@
                <form id="account" method="post">


                    @*<h4>clever<b>worktime</b></h4>*@
                    @*<hr />*@
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @*<div class="form-group">*@
                    <div class="input-group  form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @* <label asp-for="Input.Email"></label>*@
                        <input asp-for="Input.UserName" class="form-control" placeholder="username" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>

                    </div>
                    @*</div>  *@
                    @*<div class="form-group">*@
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>

                        @*<label asp-for="Input.Password"></label>*@
                        <input asp-for="Input.Password" class="form-control" placeholder="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>
                    <div class="row align-items-center remember">
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn">Zaloguj</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Zapomniales hasla?</a>
                            </p>
                            @*<p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>*@
                        </div>
                </form>
                @*</section>*@
            
        </div>
    @*</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
